<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MTDb</title>
  <link rel="icon" href="/img/MTDb_logo.png" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Kanit:wght@500&family=Oswald:wght@600;700&display=swap');
  </style>
  <!-- <script src="func.js" defer></script> -->
</head>

<body style="background-color: black; font-family: 'Kanit', sans-serif;">
  <div class="bgsignin"></div>
  <!-- Navbar -->
  <div style="background-color: black;">
    <nav class="navbar navbar-expand-lg fixed-top" style="z-index: 5;">
      <div class="container">
        <a class="navbar-brand col-md-1 mb-md-1 py-0 d-flex align-items-center justify-content-center justify-content-md-between"
          href="/"><img src="/img/MTDb_logo.png" style="height: 80px; width: 80px;"></a>
        <div
          class="navbar-brand col-md-6 mb-md-1 py-3 d-flex align-items-center justify-content-center justify-content-md-between">
          <form class="w-100 d-flex " role="search">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success ms-2" type="submit">Search</button>
          </form>
        </div>
        <button class="navbar-toggler shadow-none border-0 me-1 text-white tline" type="button"
          data-bs-toggle="collapse" data-bs-target="#btn" aria-controls="btn" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class='bx bx-menu bx-md'></i>
        </button>
        <div class="sidebar navbar-collapse ul-bg" id="btn">
          <ul class="navbar-nav sidebar ms-auto mb-2 mb-lg-0" navitem>
            <li><a href="/category" class="nav-link px-2 navitem">Category</a></li>
            <li><a href="/upcoming" class="nav-link px-2 navitem">Up coming</a></li>
            <li><a href="/watchlist" class="nav-link px-2 navitem">Watchlist</a></li>
            <li><a href="/login" class="nav-link px-2 navitem">Log In</a></li>
          </ul>

        </div>
      </div>
      <div style="margin-top: 5px;">
        </style>
    </nav>
  </div>

  <!-- Content -->

  <br>

  <div class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration"
            style="border-radius: 15px; color: white; background-color: rgba(0, 0, 0, 0.76);">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" style="text-align: center; color: #FFC700;">Registration MTDb
                Account</h3>
              <form action="/user/register" method="post">

                <h2 class="h3 mb-3 fw-bolder text-center" style="font-size: 3rem;">Register</h2>

                <!-- แสดงค่า error ออกมาเมื่อ user กรอกข้อมูลลงใน form ไม่ครบ ซึ่งตัว error จะมาจาก file registerControlles.js-->

                <% if(errors !=null && errors.length> 0) { %>
                  <% for(let i=0; i < errors.length; i++) { %>
                    <p class="alert alert-danger">
                      <%= errors[i] %>
                    </p>
                    <% } %>
                      <% } %>

                      <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-floating">
                          <!-- value="<%= email %> คือตัวแปรที่เอามาจาก file registerController.js เพื่อคงค่าที่ user กรอกลงไปหลังจาก user เผลอกด sign up ใน form -->

                          <input type="email" name="email" value="<%= email %>" class="form-control" id="floatingInput"
                            placeholder="name@example.com">
                          <label for="floatingInput">Email address</label>
                        </div>
                      </div>

                      <div class="col-md-6 mb-4">
                        <div class="form-floating">
                        <input type="tel" name="tel" class="form-control" id="floatingInput"
                          placeholder="e.g., 123-456-7890">
                          <label for="floatingPassword">Phone</label>
                       
                      </div>
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-floating">

                          <input type="firstname" name="firstname" value="<%= firstname %>" class="form-control" id="floatingInput"
                            placeholder="Firestname">
                          <label for="floatingInput">Firstname</label>
                        </div>
                      </div>
                    
                    <div class="col-md-6 mb-4">
                        <div class="form-floating">

                          <input type="lastname" name="lastname" value="<%= lastname %>" class="form-control" id="floatingInput"
                            placeholder="Lastname">
                          <label for="floatingInput">Lastname</label>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 mb-4">
                          <div class="form-floating">

                            <input type="password" name="password" class="form-control" id="floatingPassword"
                              placeholder="Password">
                            <label for="floatingPassword">Password</label>
                          </div>
                        </div>

                        <div class="col-md-6 mb-4">
                          <div class="form-floating">
                            
                            <input type="repassword" name="repassword" class="form-control" id="floatingPassword"
                              placeholder="Password">
                            <label for="floatingPassword">Repassword</label>
                          </div>
                        </div>

                    </div>
                   
                    <div class="row">
                        <div class="col-md-6 mb-2">
                          <label for="gender">Gender :</label>
                          <div class="col-md-3">
                          <select class="form-select" id="gender" name="gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                          </select>
                        </div>
                        </div>
                      
                        <div class="col-md-6 mb-2 d-flex flex-row ">
                            <label for="birthday">Birthday :</label>
                            
                          
                            <div class="col-md-3">

                              <select class="form-select" id="day" name="day">
                                <option value="" disabled selected>Day</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                              </select>
                            </div>
                          <!-- </div> -->

                            <div class="col-md-3">

                              <select class="form-select" id="month" name="month">
                                <option value="" disabled selected>Month</option>
                                <option value="January">January</option>
                                <option value="February">February</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                                <option value="October">October</option>
                                <option value="November">November</option>
                                <option value="December">December</option>
                              </select>
                            </div>
                            <div class="col-md-3 pb-3">

                              <select class="form-select" id="year" name="year">
                                <option value="" disabled selected>Year</option>
                                <option value="1999">1999</option>
                                <option value="2000">2000</option>
                                <option value="2001">2001</option>
                                <option value="2002">2002</option>
                                <option value="2003">2003</option>
                                <option value="2004">2004</option>
                                <option value="2005">2005</option>
                                <option value="2006">2006</option>
                                <option value="2007">2007</option>
                                <option value="2008">2008</option>
                                <option value="2009">2009</option>
                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                              </select>
                            </div>
                          </div>
                          <div class="input-group mb-3 mt-4 justify-content-between d-block">
                          <button class="btn btngreen3 btn-lg fs-6 w-100 text-center justify-content-center" type="submit">Sign up</button>
                          </div>

              </form>
            </div>



            </nav>
            <!-- Modal -->
            <!-- <div class="modal fade" tabindex="-1" role="dialog" id="modalSignin" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered " role="document">
                          <div class="modal-content shadow bg-black" style=" border-color: #FFC700; ">
                            <div class="modal-header bg-drak p-5 pb-4 border-bottom-0" style="align-self: center;">
                              <h1 class="fw-bold mb-0 fs-2"><img src="./img/pngwing.com.png" style="height: 100%; width: 100%;"></h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                            </div>
                      
                            <div class="modal-body p-5 pt-0"  >
                              <form class>
                                <div class="form-floating mb-3">
                                  
                                
                                <p class=" my-2" style="text-align: center; color: #FFC700; font-size: 20px;">Registration Success</p>
                                    
                                <hr class="my-3">
                                <a href="./index.ejs" class="w-100 mb-2 btn btn-lg rounded-3 btngreen2" type="submit" role="button">Back to homepage</a>
                                
                              
                            </div>
                          </div>
                        </div> -->
          </div>
          </form>
        </div>

        </form>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  <br><br>


  <!-- Footer -->
  <footer class="bg-black w-100 mt-3" style=" bottom: auto; position: absolute; box-shadow: 15px 0px 20px #FFC700;">
    <div class="container-fulid">
      <ul class="nav justify-content-center pb-3 mb-3" style="border-color:#FFC700;">
        <li class="nav-item"><a href="/" class="nav-link navitem px-2 ">Home</a></li>
        <li class="nav-item"><a href="/category" class="nav-link navitem px-2 ">Category</a></li>
        <li class="nav-item"><a href="/upcoming" class="nav-link navitem px-2 ">Up coming</a></li>
        <li class="nav-item"><a href="/watchlist" class="nav-link navitem px-2 ">Watchlist</a></li>
      </ul>
      <p class="text-center" style="color: #FFC700;">© 198-304 by MTDb.com, Inc.</p>
    </div>
  </footer>
</body>

</html>